<% provide(:title, formatted_title(@pin.title.truncate(25))) %>

<div class="pin-display">
  <img src="<%= @pin.pin_image %>" class="pinned-pic">
  <div class="pin-text">
    <h2><%= @pin.title %></h2>
    <p><%= simple_format(@pin.description) %></p>
  </div>
  <div class="pin-footer">
    <ul>
      <li id="pin-submitted-by">Submitted by <%= @user.email  %></li>
      <% logged_in? ? enabled = "" : enabled = "faded-thumb"  %>
        <li class="btn btn-default">
          <%= link_to change_rating_path(@pin.id) do  %>
            <%= image_tag "thumbs-up-icon", class: "thumbs-button #{enabled}" %>
            <%= @pin.rating %>
          <% end %>
        </li>
        <% if current_user == @user %>
          <li class="btn btn-danger"><%= link_to "Delete pin", pin_path(@pin.id), 
                                        method: :delete,
                                        data: { confirm: "Are you sure?" } %></li>
          <li class="btn btn-primary" ><%= link_to "Edit pin", edit_pin_path(@pin.id) %></li>
        <% end %>
    </ul>   
  </div>
  <div class="comments-footer wide-form">
    <% if logged_in? %>
      <h5>Submit a comment</h5>
      <% if @comment && @comment.errors.any? %>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= form_for :comments, url: add_comment_path do |f| %>
        <%= f.hidden_field :pin_id, value: @pin.id %>
        <%= f.text_area :comment_text %>
        
        <%= f.submit "Post comment" %>
      <% end %>
    
    <% end %>
    
  </div>
</div>
