<% provide(:title, formatted_title(@pin.title.truncate(25))) %>

<div class="pin-display">
  <img src="<%= @pin.pin_image %>" class="pinned-pic">
  <div class="pin-text">
    <h2><%= @pin.title %></h2>
    <p><%= simple_format(@pin.description) %></p>
  </div>
  <div class="pin-footer">
    <ul>
      <li id="pin-submitted-by">Submitted by <%= @user.email  %></li>
      <% if logged_in? %>
        <% if current_user == @user %>
          <li><%= link_to "Delete pin", pin_path(@pin.id), 
                                        method: :delete,
                                        data: { confirm: "Are you sure?" },
                                        class: "btn btn-danger" %></li>
          <li><%= link_to "Edit pin", edit_pin_path(@pin.id), class: "btn btn-primary" %></li>
        <% end %>
      <% end %>
    </ul>   
  </div>
</div>
